{{> cabecera}}
    {{> navbar}}
    <div class="col-12">
        <h1 class="display-4">About</h1>
        <p>Esta es la pagina de about.</p>
        <img src="assets/img/node.js_logo.svg" alt="" srcset=""  class="img-thumbnail">
    </div>
    {{> footer}}